.footer {
    span {
      color: #fff;
    }
  
    background-color: #333;
    padding: 20px;
    position: inherit;
    text-align: center;
  }
  
  .footerIcon {
    color: white;
    padding: 0px 15px;
    font-size: 25px;
    cursor: hand;
    cursor: pointer;
  }